---
import Image from "astro/components/Image.astro";
import MyImage1 from "../assets/yay2.png";
---

<h1 class="F-h1">
  Embark on a colorful journey: MISAKI KAWAI’S “COSMIC TRAVELER” EXHIBITION
</h1>

<Image class="pic" src={MyImage1} alt="" />
<h1 class="F-h1">
  Embark on a colorful journey: MISAKI KAWAI’S “COSMIC TRAVELER” EXHIBITION
</h1>

<Image class="pic" src={MyImage1} alt="" />
<h1 class="F-h1">
  Embark on a colorful journey: MISAKI KAWAI’S “COSMIC TRAVELER” EXHIBITION
</h1>

<Image class="pic" src={MyImage1} alt="" />

<style>
  .F-h1 {
    justify-content: center;
    white-space: pre-wrap;
    padding-left: 10px;
    max-width: 890px;
    width: 500px;
    padding-left: 35%;
  }
  .pic {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
  }
</style>
